.deletable-table {
    .header-row {
        background-color: $color-palette-600;
        display: flex;
        justify-content: space-around;
        padding: 15px 10px;

        .header-column {
            flex: 1;
        }
    }

    .no-records {
        background-color: $color-palette-500;
        text-align: center;
        padding: 15px 10px;
    }

    .content-row {
        background-color: $color-palette-500;
        display: flex;
        justify-content: space-around;
        padding: 15px 10px;
        position: relative;

        .content-column {
            flex: 1
        }
    }

    .delete-column {
        height: 1px;
        margin-top: -3px;
        width: 24px;
        cursor: pointer;
    }
}
