.rc-collapse {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;

    .rc-collapse-item {
        border-top: none !important;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s ease;
    }

    .rc-collapse-content {
        background-color: transparent !important;
        padding: 0 30px !important;
        color: $text-grey !important;

        .rc-collapse-content-box {
            margin: 0;
        }

        .highcharts-background {
            background-color: transparent;
        }
    }

    .rc-collapse-header {
        height: auto !important;
        line-height: 0 !important;
        color: $accordion-header-grey !important;
        padding-top: 10px;
        text-indent: 0 !important;

        svg {
            vertical-align: middle;
            color: $accordion-header-grey !important;
        }
    }

    .rc-collapse-item-active {
        border-bottom: 1px solid $accordion-border;

        .rc-collapse-header {
            span {
                text-decoration: underline;
            }

            svg {
                transform: rotate(90deg);
            }
        }
    }
}
