.my-investment-card {
    .collapsible-pane {
        transition: all .5s ease !important;
        overflow-y: hidden;
        position: relative;
        background-color: $accordion-bg-color;
        margin: 0 1px;
        box-shadow: none !important;
    }

    .collapsible-pane.show-collapsible {
        height: 350px;
        overflow-y: auto;
        border-top: 1px solid gray;
    }

    .collapsible-pane.hide-collapsible {
        height: 0;
    }
}
