.padding-main-content-desktop {
    padding-left: $left-padding-main-content;
    padding-top: $header-height;
}

.padding-main-content-mobile {
    padding: calc(#{$header-height} + 10px) 5px 20px 5px;
}

.color-accent-blue {
    color: $accent-blue;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.flex-child-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-header-grey {
    color: $text-header-grey;
}

/* ALL PADDING AND MARGIN */
.margin-right-20 {
    margin-right: 20px;
}

.padding-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* FLOATS */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* POSITIONS */
.position-relative {
    position: relative;
}

.display-inline {
    display: inline-block;
}
