.padding-main-content {
    padding-left: $left-padding-main-content;
    padding-top: $header-height;
}

.color-accent-blue {
    color: $accent-blue;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.flex-child-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
