$header-height: 60px;

$body-bg-color: #182F39;
$left-nav-bgcolor: #081B24;
$header-bgcolor: #081B24;

$left-padding-main-content: 90px;

$text-green-label: #138F81;
$text-grey: #B9B8B8;
$text-header-grey: #96A2B4;
$border-grey: #6E7580;
$accent-blue: #1370CB;
