$header-height: 60px;

$color-palette-200: #536C77;
$color-palette-300: #95989A;
$color-palette-400: #3A5763;
$color-palette-500: #284752;
$color-palette-600: #1E353F;
$color-palette-700: #172E37;

$body-bg-color: $color-palette-400;
$left-nav-bgcolor: $color-palette-700;
$right-nav-bgcolor: $color-palette-500;
$header-bgcolor: $color-palette-600;
$collapsible-row-bgcolor: $color-palette-700;
$accordion-bgcolor: $color-palette-500;
$table-header: $color-palette-600;
$table-bgcolor: $color-palette-400;
$page-header-bgcolor: $color-palette-500;


$dark-grey-bgcolor: #23404a;
$progress-blue: #0277BD;

$left-padding-main-content: 80px;

$text-green-label: #138F81;
$text-grey: #A6A6A6;
$text-header-grey: #ced0d4;
$accordion-header-grey: #A6A6A6;
$dark-border-grey: #253d48;
$border-grey: #2D434D;
$accordion-border: #25373e;
$accent-blue: #1976D2;
$accent-green: #74a647;
