$header-height: 60px;

$body-bg-color: #324a54;
$left-nav-bgcolor: #172E37;
$header-bgcolor: #1E353E;
$light-grey-bgcolor: #172E37;
$dark-grey-bgcolor: #23404a;
$accordion-bg-color: #223d47;
$progress-blue: #0277BD;
$page-header-bg-color: #284752;

$left-padding-main-content: 80px;

$text-green-label: #138F81;
$text-grey: #A6A6A6;
$text-header-grey: #ced0d4;
$accordion-header-grey: #A6A6A6;
$dark-border-grey: #253d48;
$border-grey: #2D434D;
$accent-blue: #1976D2;
$accent-green: #74a647;
