.card-center-holder {
    width: 50%;
    margin: auto;
    margin-top: 5%;

    .app-logo {
        text-align: center;
        padding: 20px;

        img {
            width: 120px;
        }
    }
}
