.card-center-holder {
    width: 50%;
    margin: auto;
    margin-top: 5%;

    .app-logo {
        text-align: center;

        img {
            width: 200px;
        }
    }

    .login-button {
        text-align: center;
        margin-top: 20px;
    }

    .signup-bar {
        padding: 20px;
        text-align: center;

        .href-link {
            margin-left: 10px;
        }
    }
}
