.lender-invest {
    .header-row {
        padding: 24px 20px;
        border-bottom: 1px solid $border-grey;
        margin-right: 0;

        .material-icons {
            line-height: 1px;
            top: 5px;
            cursor: pointer;
        }
    }

    .invest-row {
        .risk-indicator {
            width: 4px;
            position: absolute;
            height: 100%;
            border-radius: 2px 0 0 2px;
        }

        .collapsible-pane {
            transition: all .5s ease !important;
            overflow-y: hidden;
            margin-left: 9px;
            margin-right: 16px;
            position: relative;
            top: -15px;

            .collapsible-content {
                padding: 20px;
            }
        }

        .collapsible-pane.show-collapsible {
            max-height: 250px;
            overflow-y: auto;
        }

        .collapsible-pane.hide-collapsible {
            max-height: 0;
        }

        .row-item {
            margin: 15px 0;
            padding: 0 20px;

            .invest-loan-column {
                padding: 25px 0;

                .progress-bar-container {
                    position: relative;
                    padding-right: 55px;
                    top: 10px;
                }
            }

            .invest-button-column {
                padding: 18px 0;
            }
        }
    }
}
