.lender-left-nav {
    height: 100%;
    background-color: $left-nav-bgcolor !important;

    .app-logo {
        height: $header-height;
        background-color: $header-bgcolor;
        text-align: center;

        img {
            width: 35px;
            padding: 10px 0;
        }
    }

    .nav-list-item {
        & > div > div {
            padding: 0px !important;
        }
    }

    .left-nav-item {
        display: block;
        text-decoration: none;
        color: $text-grey;
        padding: 20px 25px;
        background-color: transparent;
        transition: background-color 0.4s ease 0.1s;

        .tooltip {
            position: relative;
            bottom: 5px;
        }

        .material-icons {
            top: 1px;
            margin-right: 20px;
            color: $text-grey;
        }
    }

    .left-nav-item.active {
        transition: background-color 0.5s ease 0s;
        background-color: $accent-green;

        .material-icons {
            color: white !important;
        }
    }
}
