.account-balance {
    height: 100%;

    .c3 .c3-axis-x path, .c3 .c3-axis-x line {
        stroke: transparent;
    }

    .c3-circle {
        stroke-width: 2px;
        stroke: $light-green;
    }

    .c3 path, .c3 line, .tick {
        text {
            stroke: $gray-dark;
            fill: $gray-dark;
        }

        line {
            stroke: transparent;
        }
    }

    .tooltip-container {
        background-color: $tooltip-bg-color;
        padding: 5px;
        width: 100px;

        .tooltip-header {
            color: $text-white;
        }

        .value {
            color: $text-white;
            font-size: 14px;
        }
    }

    .header {
        padding-left: 15px;
        .label {
            color: $accent-green;
            font-size: 24px;
        }

        .sub-label {
            padding-top: 5px;
            font-size: 14px;
            color: $gray-dark;
        }
    }
}
