.annualized-returns {
    height: 100%;
    
    .header {
        padding-left: 15px;
        .label {
            color: #63B51D;
            font-size: 24px;
        }

        .sub-label {
            font-size: 14px;
            color: $text-grey;
        }
    }

    .c3-gauge-value {
        display: none;
    }

    .c3-chart-arc path {
        stroke: transparent;
    }

    .tooltip-container {
        background-color: $left-nav-bgcolor;
        padding: 5px;
        width: 100px;
        opacity: 0.8;

        .value {
            color: $text-grey;
            font-size: 14px;
        }
    }
}
