.refer-and-earn {
    height: 100%;

    .refer-code {
        background-color: $color-palette-500;
        color: $text-white;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid $border-grey;
        font-size: 50px;
        letter-spacing: 2px;

        .sub-label {
            font-size: 16px;
            letter-spacing: normal;
        }
    }

    .invite {
        .mode-selector {
            position: relative;
            bottom: 15px;
            float: right;
            right: -10px;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;

        .t-and-c, .more-info-link {
            font-size: 12px;
            color: $color-palette-300;
            margin-top: 10px;
        }

        .more-info-link {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
