.borrower-filter {
    & > div {
        overflow: hidden !important;
    }

    .close-icon {
        float: right;
        color: $text-grey !important;
        position: relative;
        top: 20px;
        right: 15px;
        font-size: 20px !important;
        cursor: pointer;

        &:hover {
            transform: rotate(90deg);
        }
    }

    .main-header {
        height: $header-height;
        background-color: $header-bgcolor;
        padding-left: 20px;
        color: $text-grey;

        span {
            position: relative;
            top: 20px;
        }
    }

    .drawer-content {
        overflow-y: auto;
        overflow-x: hidden;
        height: 90%;
        width: 100%;

        .category {
            .category-header {
                padding-left: 20px;
                padding-top: 15px;
                height: 35px;
                background-color: $color-palette-700;
                color: $text-header-grey;
            }

            .category-content {
                color: $text-grey;
            }
        }

        .checkbox {
            padding: 10px 10px 0 16px;
        }

        .interest-rate-category {
            .interest-rate-category-header {
                display: flex;
                justify-content: space-between;
                padding-right: 15px;
            }

            .category-content {
                padding-bottom: 10px;

                .risk-category {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 12px;

                    .label .indicator {
                        display: inline-block;
                        width: 4px;
                        height: 15px;
                        position: relative;
                        left: -8px;
                        top: 2px;
                    }
                }
            }
        }

        .tenure {
            .category-content {
                padding-bottom: 10px;
            }
        }

        .loan-category {
            .category-content {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .filter-bar {
        position: fixed;
        width: 100%;
        padding: 10px 15px;
        bottom: 0;
        background-color: $header-bgcolor;
        border-top: 1px solid $color-palette-700;
    }
}
