.invest-header-row {
    margin: 0;
    color: $gray-darker;
    background-color: $page-header-bgcolor;
    font-weight: 400;
    position: fixed;
    width: calc(100% - 80px);
    top: $header-height;
    z-index: 1000;

    .row {
        margin: 24px 17px;
    }

    .filter-floating-button {
        position: absolute;
        right: 30px;
        top: 15px;
        background-color: $accent-orange;

        .material-icons {
            line-height: 1px;
            top: 2px;
            cursor: pointer;
        }
    }
}
