.lender-invest {
    .header-row {
        padding: 24px 15px 24px 20px;
        border-bottom: 1px solid $border-grey;
        margin-right: 0;
        color: $text-header-grey;

        .filter-floating-button {
            position: absolute;
            right: 20px;
            top: 15px;

            .material-icons {
                line-height: 1px;
                top: 2px;
                cursor: pointer;
            }
        }
    }

    .invest-table {
        margin-top: 35px;
    }

    .invest-row {
        .risk-indicator {
            width: 4px;
            position: absolute;
            height: 100%;
            border-radius: 2px 0 0 2px;
        }

        .collapsible-pane {
            transition: all .5s ease !important;
            overflow-y: hidden;
            margin-left: 9px;
            margin-right: 16px;
            position: relative;
            top: -15px;
            background-color: #0D222B;
        }

        .collapsible-pane.show-collapsible {
            height: 350px;
            overflow-y: auto;
        }

        .collapsible-pane.hide-collapsible {
            height: 0;
        }

        .row-item {
            margin: 15px 0;
            padding: 0;
            background-color: $light-grey-bgcolor;
            cursor: pointer;

            .invest-loan-column {
                padding: 20px 0 0 15px;

                .progress-bar-container {
                    position: relative;
                    padding-right: 55px;
                    top: 10px;
                }
            }

            .invest-button-column {
                padding: 15px 0;
            }
        }
    }
}

.invest-modal {
    .header-row {
        padding: 20px;
        margin: 0;
        color: $text-header-grey;
    }

    .data-row {
        padding: 20px;
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
        background-color: $header-bgcolor;
        margin: 0;
        color: $text-grey;
    }
    .invest-inputs {
        padding: 0 40px;
    }
    .action-button {
        padding: 20px;
    }
}
