.invest-row {
    margin: 15px 0;

    .invest-paper {
        margin-left: 25px;
        margin-right: 25px;
        z-index: 1;
    }

    .collapsible-pane {
        transition: all .5s ease !important;
        overflow-y: hidden;
        margin: 0 20px;
        position: relative;
        background-color: $accordion-bgcolor;
        overflow-x: hidden;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 1px, rgba(0, 0, 0, 0.117647) 0px 1px 1px !important;

        .collapsible-content {
            height: 100%;
            margin-top: 0;
            overflow-x: hidden;
        }

        .c3-chart-arc path {
            stroke: transparent;
        }

        .c3-chart-arcs-title {
            font-size: 35px;
            stroke: $gray-dark;
            fill: $gray-dark;
        }

        .c3-legend-item {
            text {
                stroke: $gray-dark;
                fill: $gray-dark;
            }
        }

        .tooltip-container {
            background-color: $tooltip-bg-color;
            padding: 5px;
            width: 150px;
        }
    }

    .collapsible-pane.show-collapsible {
        height: 350px;
        overflow-y: auto;
    }

    .collapsible-pane.hide-collapsible {
        height: 0;
    }

    .row-item {
        background-color: $collapsible-row-bgcolor;
        cursor: pointer;
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 5px, rgba(0, 0, 0, 0.117647) 0px 1px 5px;

        .invest-loan-column {
            align-self: center;
            .progress-bar-container {
                position: relative;
                padding-right: 55px;
                top: 5px;
            }
        }

        .interest-column {
            padding-left: 20px;
            font-size: 16px;
            color: $gray-darker;
            font-weight: 400;
        }

        .invest-button-column {
            // padding: 15px 0;
            & button div {
                pointer-events: none;
            }

        }
    }
}
